<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ARUI Feather Bootstrap</title>
        <link rel="apple-touch-icon" sizes="60x60" href="<%- rootPath %>assets/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%- rootPath %>assets/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<%- rootPath %>assets/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<%- rootPath %>assets/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<%- rootPath %>assets/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="<%- rootPath %>assets/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="<%- rootPath %>assets/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="<%- rootPath %>assets/manifest.json">
        <link rel="mask-icon" href="<%- rootPath %>assets/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="<%- rootPath %>assets/favicon.ico">
        <meta name="msapplication-config" content="<%- rootPath %>assets/browserconfig.xml">

        <% if (staticAssets) { %>
        <link rel="stylesheet" href="<%= rootPath %>assets/index<%- assetsHash ? ('.' + assetsHash) : '' %>.css" />
        <% } %>
    </head>
    <body>
        <div id="react-app"><%- content %></div>
        <script src="<%- rootPath %>assets/index<%- assetsHash ? ('.' + assetsHash) : '' %>.js"></script>
        <script>window.__main(<%- state %>);</script>
    </body>
</html>
